.landing {
    background:url(../../assets/landing-hero.jpg);
    background-size: cover;
    background-position: center;
    height:90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-login-container {
    background:#ffffff;
    padding:20px;
    width:300px;
    text-align: center;
}

.landing-profile-img {
    width:100px;
    border-radius: 50%;
    margin-bottom:20px;
}

.warning-landing {
    background:#e44949;
    color:#ffffff;
    border-radius: 20px;
    padding:5px 10px;
    display: inline-block;
    margin:10px 0;
}
