nav {
    background:#ffffff;
}
nav a {
    color:#888888;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
nav li:active,
nav li:focus {
    outline: none;
    text-decoration: none;
}
#nav-main {
    padding-left:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
#nav-main li {
    list-style: none;
}

#nav-main a {
    padding:5vh 30px;
    display: inline-block;
}

.current-selection a {
    font-weight: 700;
    color:#222222;
}
